<!-- <div class="wrapper">
    <form (ngSubmit)="submit(user)" #user="ngForm">
      <div class="form-item">
          <label for="login">Login</label>
          <input placeholder="Your Login..." name="login"  #login="ngModel" ngModel required minlength="1" pattern="[a-zA-Z0-9]+">  
          <p *ngIf="login.invalid && login.touched">Enter correct login</p>
      </div>
      <div class="form-item">
          <label for="email">Email</label>
          <input id="email" placeholder="Your email..." name="email" ngModel  #email="ngModel" required email>
          <p *ngIf="email.invalid && email.touched">Enter correct email</p>
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <input id="password" placeholder="Your password..." name="password" ngModel #password="ngModel" required minlength="7" pattern="[a-z A-Z]+$">
        <p *ngIf="password.invalid && password.touched && password.errors?.['required']">The field must not be empty</p>
<p *ngIf="password.invalid && password.touched && password.errors?.['minlength']">
The name must contain more than {{password.errors?.['minlength']['requiredLength']}} characters.
</p>
<p *ngIf="password.invalid && password.touched && password.errors?.['pattern']">Only latin letters are allowed</p>
    </div>
      <button type="submit">Submit</button>
  </form>
</div> -->

<div class="wrapper">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-item">
          <label for="login">Login</label>
          <input placeholder="Your Login..." formControlName="login">
          <p *ngIf="form.get('login')?.['invalid'] && form.get('login')?.['touched'] && form.get('login')?.['errors']?.['required']">
            Enter correct login
            </p>
      </div>
      <div class="form-item">
          <label for="email">Email</label>
          <input id="email" placeholder="Your email..." formControlName="email">
          <p *ngIf="form.get('email')?.['pending']">Cheking email...</p>
          <p *ngIf="form.get('email')?.['errors']?.['uniqEmail']">This email address already exists</p>
                <p *ngIf="form.get('email')?.['invalid'] && form.get('email')?.['touched'] && form.get('email')?.['errors']?.['email']">
                Enter correct email</p>
            <p *ngIf="form.get('email')?.['invalid'] && form.get('email')?.['touched'] && form.get('email')?.['errors']?.['required']">
                The field must not be empty
            </p>
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <input id="password" placeholder="Your password..." formControlName="password">
            <p *ngIf="form.get('password')?.['invalid'] && form.get('password')?.['touched'] && form.get('password')?.['errors']?.['required']">
            The field must not be empty
            </p>
            <p *ngIf="form.get('password')?.['invalid'] && form.get('password')?.['touched'] && form.get('password')?.['errors']?.['minlength']">
            The name must contain more than {{form.get('password')?.['errors']?.['minlength']?.['requiredLength']}} characters.
            </p>
            <p *ngIf="form.get('password')?.['invalid'] && form.get('password')?.['touched'] && form.get('password')?.['errors']?.['pattern']">
            Only latin letters are allowed
            </p>

    </div>
      <button type="submit">Submit</button>
  </form>
</div>